@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype'),
        url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Light.eot');
    src: url('fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Light.woff2') format('woff2'),
        url('fonts/Oswald-Light.woff') format('woff'),
        url('fonts/Oswald-Light.ttf') format('truetype'),
        url('fonts/Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Bold.eot');
    src: url('fonts/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProductSans-Bold.woff2') format('woff2'),
        url('fonts/ProductSans-Bold.woff') format('woff'),
        url('fonts/ProductSans-Bold.ttf') format('truetype'),
        url('fonts/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Bold.eot');
    src: url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Bold.woff2') format('woff2'),
        url('fonts/Oswald-Bold.woff') format('woff'),
        url('fonts/Oswald-Bold.ttf') format('truetype'),
        url('fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Oswald-Regular.woff2') format('woff2'),
        url('fonts/Oswald-Regular.woff') format('woff'),
        url('fonts/Oswald-Regular.ttf') format('truetype'),
        url('fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1360px;margin: 0 auto;text-align: center;font-family: "Raleway"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1160px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/* icons */
.bg-check {width: 14px; height: 12px;background: url('../images/content/css_sprites.png') -63px -130px;}
.bg-email {width: 33px; height: 25px;background: url('../images/content/css_sprites.png') -10px -130px;}
.bg-fb {width: 40px; height: 40px;background: url('../images/content/css_sprites.png') -10px -10px;}
.bg-gp {width: 40px; height: 40px;background: url('../images/content/css_sprites.png') -70px -10px;}
.bg-li {width: 40px; height: 40px;background: url('../images/content/css_sprites.png') -10px -70px;}
.bg-location {width: 27px; height: 33px;background: url('../images/content/css_sprites.png') -130px -63px;}
.bg-phone {width: 33px; height: 33px;background: url('../images/content/css_sprites.png') -130px -10px;}
.bg-tt {width: 40px; height: 40px;background: url('../images/content/css_sprites.png') -70px -70px;}

/*button*/
.btn {font-family: "Oswald"; font-size: 15px; font-weight: 300; color: #fff; display: inline-block; padding: 12.5px 29px; background: #ff0000; border-radius: 100px; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #000;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h2{font-family: "Oswald"; font-size: 20px; font-weight: 400; color: #FF0000;line-height: 30px;letter-spacing: 3px;}
h1 {font-family: "Oswald"; font-size: 40px;font-weight: 700;color:#0066CC;}

/*header*/
#header {padding: 20px 0}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {position: relative;font-family: "Oswald"; font-weight: 400; font-size: 18px; color: #000000; margin: 0 0 0 70px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#FF0000;}
#header nav ul li.active-menu a:after, #header nav ul li a:hover:after {content: "";background: #FF0000; width: 46px; height: 8px; position: absolute; bottom:-26px; left: 50%;transform: translate(-50%);}
.hdLeft.col-4{width: 28.125%;}
.hdRight.col-8{width: 71.875%}
.hdRight{text-align: right;}
.hdRight p{font-family: "Oswald"; font-weight: 300; font-size: 15px; color: #000000;margin: 0 auto;letter-spacing: 2px}
.hdRight p span{display: block; font-weight: 700; font-size: 35px; color: #FF0000;letter-spacing: 0;margin: 0 0 40px 0;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: 100% 100%; padding: 470px 0 137px}
#banner .bnrPanel{background: url(../images/common/bgRed.png)no-repeat center top; background-size: 100% 100%; padding: 158px 47px 27px 0;text-align: right;}
#banner .bnrPanel h1{color: #FFFFFF; line-height: 42px}
#banner .bnrPanel h1 span{display: block;font-weight: 300; font-size: 25px}
/*content*/

/* welcome */
#welcome{position: relative;margin-top: -73px;padding: 0 0 60px;}
.wlcLeft.col-6 {width:50.86206896551724%}
.wlcRight.col-6 {width: 49.13793103448276%;}
.wlcLeft{padding: 97px 0 0;text-align: left;}
.wlcLeft h2{font-family: "Oswald"; font-size: 20px; font-weight: 400; color: #FF0000;line-height: 30px;letter-spacing: 3px;}
.wlcLeft h1{line-height: 56px}
.wlcLeft p{font-family: "Raleway"; font-size: 18px; font-weight: 400; color: #000000;letter-spacing: 0.3px; margin: 30px auto;line-height: 25px}
.wlcLeft .btn, .wlcLeft .social{display: inline-block;vertical-align: middle;margin: 40px 0 0 0;}
.wlcLeft .social{margin: 40px 0 0 49px;}
.wlcRight {text-align: right;}
.wlcRight img.img1{box-shadow: 10px 10px 40px -10px}
.wlcRight img.img2{position: absolute;bottom: 0; right: 65px;max-width: 475px; width: 30%;}

/* why choos us */
#whychoosus{position: relative;padding: 0 0 110px;}
#whychoosus .container dl{display: inline-block; vertical-align: top; width: 33%;margin: 60px auto 0;}
#whychoosus .container dl dd{margin: 44px 0 0; font-family: "Product Sans"; font-weight: bold; font-size: 20px; color: #000000;}

/* service */
#services{position: relative;background: url(../images/common/bg1.jpg)no-repeat center top; background-size: 100% 100%;padding: 1px 0 118px;}
#services dl{display: inline-block; vertical-align: top;width: 33%;}
#services dl dt img{box-shadow: 10px 10px 40px -10px;}
#services dl dd{margin: 25px 0 0; font-family: "Oswald"; font-size: 20px; color: #fff}
#services .container{margin-top: -72px;}
#services .container2{margin-top: 25px;}
#services .abtPanel {background: url(../images/common/bgRed.png)no-repeat center top; background-size: 100% 100%;padding: 173px 50px 35px 0;text-align: right;}
#services .abtPanel h1{color: #fff;line-height: 40px}
#services .abtPanel p{max-width: 686px; margin: 0 0 0 auto;font-family: "Oswald"; font-weight: 300; font-size: 25px; color: #fff;}

/* about */
#about{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: 100% 100%; position: relative; padding: 1px 0 274px;text-align: right; }
#about .container{margin-top: -60px;}
#about p{max-width: 831px; margin: 0 0 30px auto;text-align: right; font-family: "Raleway"; font-weight: 400; font-size: 18px; line-height: 25px; letter-spacing: 0.3px}
#about .btn{margin-top: 16px;}

/* gallery */
#gallery{background: url(../images/common/bg3.jpg)no-repeat center top; background-size: 100% 100%; padding: 1px 0 228px; position: relative;}
#gallery .header{padding: 93px 88px 166px 0;background: url(../images/common/bgRed.png)no-repeat center top; background-size: 100% 100%; margin-top: -203px;}
#gallery .header h1{color: #fff; line-height: 56px; text-align: right;}
.gallLeft.col-5{width: 39.6551724137931%;}
.gallRight.col-7{width: 60.3448275862069%;}
#gallery .container {margin-top: -130px;}
#gallery .container img{box-shadow: 10px 10px 40px -10px}
.gallLeft .btn{margin-top: 59px;}
.gallRight{text-align: left;}
.gallRight img{margin: 0 35px 35px 0;}

/* testimonials */
#testimonials{position: relative;padding: 1px 0 0;margin-top: -105px;}
#testimonials p{margin: 38px auto; max-width: 800px;font-family: "Raleway"; font-weight: 400; font-size: 18px; color: #000000;line-height: 25px; font-style: italic;}
#testimonials p:nth-of-type(2){font-size: 30px; color:#FFBF00; font-style: normal;}
#testimonials .discount{background: #FF0000; padding: 30px 0;max-width: 1160px; margin: 45px auto 0;}
#testimonials .discount h1{color: #ffffff;}
#testimonials .discount p{font-family: "Oswald"; font-weight: 300; font-size: 30px; color: #FFFFFF;margin: 0 auto;font-style: normal;}

#contact{background: url(../images/common/bgMap.jpg)no-repeat center top; background-size: 100% 100%;padding: 0 0 145px;}
#contact .container{background: url(../images/common/bgContact.png)no-repeat center top;background-size: 100% 100%;margin-bottom: 34px;padding: 15px 0 30px;}
#contact .container dl{display: inline-block; vertical-align: bottom;width: 33%;}
#contact .container dl dd{padding: 18px 0; margin: 0; font-family: "Raleway"; font-weight: bold;font-size: 18px; color: #000000;}

#serviceAreas{background: url(../images/common/bgFooter.jpg)no-repeat center top; background-size: cover; padding: 53px 0 68px;}
#serviceAreas h1{color: #ffffff;}
#serviceAreas ul{list-style: none;padding: 0;margin: 0;}
#serviceAreas ul li{padding: 0 0 0 25px;display: inline-block;vertical-align: middle; height: 20px;background: url('../images/content/css_sprites.png')repeat-y -63px -126px;margin: 60px 45px 0;}
#serviceAreas ul li{font-family: "Raleway"; font-size: 18px; color: #ffffff;}
/*footer*/
#footer {background: #fff;padding: 30px 0 28px}
#footer ul{padding: 0; margin: 0;}
#footer ul li{display: inline-block; vertical-align: middle;}
#footer ul li a {position: relative;font-family: "Oswald"; font-weight: 400; font-size: 18px; color: #000000;margin: 0 5px;word-spacing: 10px}
#footer ul li.active-menu a, #footer ul li a:hover {color:#FF0000;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer .copy, #footer .silver{font-family: "Raleway"; font-size: 15px; font-weight: 400; color: #000000;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 0 0 60px;margin-top: -73px;}

.inner-services dl {margin: 40px 0;}
.inner-services dl dt{font-family: "Oswald"; font-size: 30px;font-weight: bold; color: #0066CC;border-bottom: 2px solid #0066CC}
.inner-services dl dd{margin: 0;}
.inner-services dl dd p{line-height: 25px}
.inner-services dl dd p.phone{;max-width: 19%; height: 33px;background: url('../images/content/css_sprites.png')repeat-y -130px -10px;font-size: 20px;font-weight: 700;margin: 0 auto 1em;}

.inner-reviews dl{margin: 20px auto; border-radius: 10px; border: 5px solid #0066CC; transition: 0.5s all ease}
.inner-reviews dl:hover{border: 5px solid #2b8def; box-shadow: 10px 10px 40px -10px; transform: scale(1.001);}
.inner-reviews dl dt{border-bottom: 5px solid #0066CC; overflow: auto; background: #0066CC; font-size: 25px; color: #ff9b00;padding: 10px 0;transition: 0.5s all ease}
.inner-reviews dl:hover dt{border-bottom: 5px solid  #2b8def; background:  #2b8def;}
.inner-reviews dl dd{line-height: 25px; padding: 20px 30px;margin: 0;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
  #header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
